@use "./variables" as *;
@use "./typography" as *;

@mixin desktop {
  @media (min-width: $desktop-breakpoint-min) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint-min) {
    @content;
  }
}

@mixin primary-button {
  @include m-h3;
  background-color: $homebite-orange;
  border-radius: 1.25rem;
  height: 2.25rem;
  width: 100%;
  border: none;
  color: $white;
  &:hover {
    cursor: pointer;
    background-color: $fall-lightOrange;
  }
  @include tablet {
    width: fit-content;
    height: 2.375rem;
    padding: 0 1rem;
    @include dt-h3;
    text-wrap: nowrap;
  }
}

@mixin secondary-button {
  @include primary-button;
  border: solid 1px $cloud;
  background-color: $white;
  color: $fall-orange;
  &:hover {
    border-color: $homebite-orange;
    color: $homebite-orange;
    background-color: $white;
  }
}

@mixin delete-button {
  @include primary-button;
  background-color: $red;
}

@mixin input-field {
  @include m-p2;
  background-color: $white;
  border-radius: 1.25rem;
  height: 2.25rem;
  padding: 0 1rem;
  width: 100%;
  outline: none;
  border: solid 1px $cloud;
  color: $fall-orange;
  &:focus {
    color: $homebite-black;
    border-color: $homebite-orange;
  }
  @include tablet {
    height: 2.375rem;
    @include dt-p2;
  }
}

@mixin delivered-tag {
  height: 1.5rem;
  width: fit-content;
  padding: 0 0.5rem;
  background-color: rgba(21, 132, 99, 0.07);
  border-radius: 1.25rem;
  text-wrap: nowrap;
  @include default-type-bold;
  font-size: 0.6875rem;
  line-height: 1rem;
  color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
    height: 1.625rem;
  }
}
@mixin processing-tag {
  @include delivered-tag;
  background-color: rgba(201, 69, 21, 0.07);
  color: $red;
}

@mixin input-field-invalid {
  @include input-field;
  border-color: $red;
}

//type mixins
@mixin default-type {
  font-family: $montserrat-font;
  font-weight: 400;
}
@mixin default-type-bold {
  font-family: $montserrat-font;
  font-weight: 600;
}
//h1 page header
@mixin m-h1 {
  @include default-type-bold;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
@mixin dt-h1 {
  @include default-type-bold;
  font-size: 2rem;
  line-height: 2.5rem;
}
//h2 page subheader
@mixin m-h2 {
  @include default-type-bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@mixin dt-h2 {
  @include default-type-bold;
  font-size: 1.5rem;
  line-height: 2rem;
}
//h3 - labels, links, buttons
@mixin m-h3 {
  @include default-type-bold;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@mixin dt-h3 {
  @include default-type-bold;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
//h4 - table header
@mixin m-h4 {
  @include default-type-bold;
  font-size: 0.6875rem;
  line-height: 1rem;
}
@mixin dt-h4 {
  @include default-type-bold;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
//p1 - body, large
@mixin m-p1 {
  @include default-type;
  font-size: 0.9375rem;
  line-height: 1.625rem;
}
@mixin dt-p1 {
  @include default-type;
  font-size: 1rem;
  line-height: 1.75rem;
}
//p2 - body, medium
@mixin m-p2 {
  @include default-type;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@mixin dt-p2 {
  @include default-type;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
//p3 - body, small
@mixin m-p3 {
  @include default-type;
  font-size: 0.6875rem;
  line-height: 1rem;
}
@mixin dt-p3 {
  @include default-type;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
