@use "../../styles/partials/global" as *;

.error {
  height: 100%;
  text-align: center;
  &__image {
    width: 24.5rem;
  }
  &__content {
    text-align: center;
    vertical-align: middle;
    @include m-h2;
    @include tablet {
      @include dt-h2;
    }
  }
}
