@use "../../styles/partials/global" as *;

ul,
li {
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
  height: fit-content;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    width: 100%;
    height: 9.5rem;
    padding: 1.5rem 1rem 0 1rem;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2rem 2rem 0 2rem;
      height: 6.625rem;
    }
    @include desktop {
      padding: 2rem 8.125rem 0 8.125rem;
    }
  }
  &__logo-wrap {
    width: fit-content;
    height: fit-content;
  }
  &__logo {
    height: 2.75rem;
    width: auto;
  }
  &__nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    @include tablet {
      width: fit-content;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include m-h4;
    padding: 0.5rem;

    &:hover {
      text-decoration: underline;
      color: $light-grey;
    }
    @include tablet {
      padding: 0.5rem 1rem;
    }
    @include desktop {
      padding: 0.5rem 1rem;
      @include dt-h3;
    }

    &--active {
      color: $light-grey;
      background-color: $homebite-linkOrange;
      border-radius: 20px;
    }
  }
}

.custom-shape-divider-top-1729385001 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1729385001 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 14.4375rem;
}

.custom-shape-divider-top-1729385001 .shape-fill {
  fill: $homebite-orange;
}
